/config-devices.*
/config-all-devices.*
/config-all-disas.*
/config-host.*
/config-target.*
/config.status
/config-temp
/trace-events-all
/trace/generated-tracers.h
/trace/generated-tracers.c
/trace/generated-tracers-dtrace.h
/trace/generated-tracers.dtrace
/trace/generated-events.h
/trace/generated-events.c
/trace/generated-helpers-wrappers.h
/trace/generated-helpers.h
/trace/generated-helpers.c
/trace/generated-tcg-tracers.h
/trace/generated-ust-provider.h
/trace/generated-ust.c
/ui/shader/texture-blit-frag.h
/ui/shader/texture-blit-vert.h
*-timestamp
/*-softmmu
/*-darwin-user
/*-linux-user
/*-bsd-user
/ivshmem-client
/ivshmem-server
/libdis*
/libuser
/linux-headers/asm
/qga/qapi-generated
/qapi-generated
/qapi-types.[ch]
/qapi-visit.[ch]
/qapi-event.[ch]
/qmp-commands.h
/qmp-introspect.[ch]
/qmp-marshal.c
/qemu-doc.html
/qemu-tech.html
/qemu-doc.info
/qemu-tech.info
/qemu-img
/qemu-nbd
/qemu-options.def
/qemu-options.texi
/qemu-img-cmds.texi
/qemu-img-cmds.h
/qemu-io
/qemu-ga
/qemu-bridge-helper
/qemu-monitor.texi
/qemu-monitor-info.texi
/qmp-commands.txt
/vscclient
/fsdev/virtfs-proxy-helper
*.[1-9]
*.a
*.aux
*.cp
*.dvi
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.gcda
*.gcno
/pc-bios/bios-pq/status
/pc-bios/vgabios-pq/status
/pc-bios/optionrom/linuxboot.asm
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/linuxboot.raw
/pc-bios/optionrom/linuxboot.img
/pc-bios/optionrom/linuxboot_dma.asm
/pc-bios/optionrom/linuxboot_dma.bin
/pc-bios/optionrom/linuxboot_dma.raw
/pc-bios/optionrom/linuxboot_dma.img
/pc-bios/optionrom/multiboot.asm
/pc-bios/optionrom/multiboot.bin
/pc-bios/optionrom/multiboot.raw
/pc-bios/optionrom/multiboot.img
/pc-bios/optionrom/kvmvapic.asm
/pc-bios/optionrom/kvmvapic.bin
/pc-bios/optionrom/kvmvapic.raw
/pc-bios/optionrom/kvmvapic.img
/pc-bios/s390-ccw/s390-ccw.elf
/pc-bios/s390-ccw/s390-ccw.img
.stgit-*
cscope.*
tags
TAGS
docker-src.*
*~
.dir-locals.el
.exrc
.gitmodules
.mailmap
.travis.yml
.ycm_extra_conf.py
CODING_STYLE
COPYING
COPYING.LIB
Changelog
HACKING
LICENSE
MAINTAINERS
Makefile
Makefile.objs
Makefile.target
README
VERSION
accel.c
aio-posix.c
aio-win32.c
arch_init.c
async.c
audio/
backends/
balloon.c
block.c
block/
blockdev-nbd.c
blockdev.c
blockjob.c
bootdevice.c
bsd-user/
bt-host.c
bt-vhci.c
configure
contrib/
cpu-exec-common.c
cpus.c
cputlb.c
crypto/
default-configs/
device-hotplug.c
device_tree.c
disas.c
disas/
dma-helpers.c
docs/
dtc/
dump.c
exec.c
fpu/
fsdev/
gdb-xml/
gdbstub.c
hmp-commands-info.hx
hmp-commands.hx
hmp.c
hmp.h
hw/
io/
iohandler.c
ioport.c
iothread.c
kvm-all.c
kvm-stub.c
libdecnumber/
linux-headers/
main-loop.c
memory.c
memory_mapping.c
migration/
module-common.c
monitor.c
nbd/
net/
numa.c
os-posix.c
os-win32.c
page_cache.c
pc-bios/
pixman/
po/
qapi-schema.json
qapi/
qdev-monitor.c
qdict-test-data.txt
qemu-bridge-helper.c
qemu-char.c
qemu-doc.texi
qemu-ga.texi
qemu-img-cmds.hx
qemu-img.c
qemu-img.texi
qemu-io-cmds.c
qemu-io.c
qemu-nbd.c
qemu-nbd.texi
qemu-option-trace.texi
qemu-options-wrapper.h
qemu-options.h
qemu-options.hx
qemu-seccomp.c
qemu-tech.texi
qemu-timer.c
qemu.nsi
qemu.sasl
qga/
qmp-commands.hx
qmp.c
qobject/
qom/
qtest.c
replay/
roms/
rules.mak
scripts/
slirp/
softmmu_template.h
spice-qemu-char.c
stubs/
target-alpha/
target-arm/
target-cris/
target-lm32/
target-m68k/
target-microblaze/
target-mips/
target-moxie/
target-openrisc/
target-ppc/
target-s390x/
target-sh4/
target-sparc/
target-tilegx/
target-tricore/
target-unicore32/
target-xtensa/
tcg-runtime.c
tcg/
tci.c
tests/
thread-pool.c
thunk.c
tpm.c
trace-events
trace/
translate-all.c
translate-all.h
translate-common.c
ui/
user-exec.c
util/
version.rc
vl.c
xen-common-stub.c
xen-common.c
xen-hvm-stub.c
xen-hvm.c
xen-mapcache.c
.idea/
CMakeLists.txt
cmake-build-debug/
qemu-version.h
qemu-version.h.tmp
